nav{
    display: flex;
    justify-content: space-between;
	align-items: center;
}
.logo{
    display: flex;
}
.lista{
    display: flex;  
}
.lateral{
list-style:none;
display: flex;
align-items: center;
justify-content: center;
}
ul{
    display: flex;
    align-items: center;
    
}
li:hover {
    transform: scale(1.2);
    cursor: pointer;
  }