<nav>
    <div class="logo">
        <img src="assets/images/LOGO/logo.png"></div>
        <div class="lista">
        <ul>   
            <li>Inicio</li>
            <li>Series TV</li>
            <li>Películas</li>
            <li>Novidades más vistas</li>
            <li>Mi lista</li>
            <li>Explorar por idiomas</li>
        </ul>
    </div>
    <div class="lateral">
        <ul>
        <li><img src="assets/images/Icons/zoom-32.png"></li>
        <li><img src="assets/images/Icons/bell-3-32.png"></li>
    </ul>
    </div>
    </nav>